# Example Pre-processing of Trips

This notebook demonstrates pre-processing of the Trips.  The raw format of the directory is unsuiable.

Preprocessing is encapsulated within two classes: `cats_analysis.io.CleanTrip` and `cats_analysis.io.TripSummaryStatistics`

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [2]:
from cats_analysis.io import (read_trip_file_names,
                             CleanTrip,
                             TripSummaryStatistics)

The raw data are provided in time series format within **.csv** files. The function `cats_analysis.io.read_trip_file_names` creates a `List` of file csv file names in a directory specified as a parameter

In [3]:
files = read_trip_file_names('/home/tom/Documents/code/cats_data')

e.g. The first 4 files in the directory are:

In [4]:
files[:5]

['/home/tom/Documents/code/cats_data/Data-f12be33-Cats1-30845.csv',
 '/home/tom/Documents/code/cats_data/Data-ea2a232-Cats2-30612.csv',
 '/home/tom/Documents/code/cats_data/Data-53e8a28-Cats1-30087.csv',
 '/home/tom/Documents/code/cats_data/Data-e423bc1-Cats5-31014.csv',
 '/home/tom/Documents/code/cats_data/Data-d0d7e7a-Cats5-31122.csv']

## CleanTrip

In [5]:
#Some example files...
#1 - multiple measures okay (might have different fields from others...)
#5 - lots of missing data
#6-  HR only
#25 - a nice example
#32 contains 'invalid date'

ct = CleanTrip(filepath=files[1], wave_features=['mean', 'std', 'max'])

Run the `CleanTrip.clean()` method to execute the preprocessing.

In [6]:
ct.clean()

Use `time_series` property to view view the cleaned time series as a `pandas.DataFrame`

In [18]:
ct.time_series.head()

,merged_n,type,hr_0002-4182,spo2_0002-4bb8,nbps_0002-4a05,nbpd_0002-4a06,nbpm_0002-4a07,abps_0002-4a15,abpd_0002-4a16,abpm_0002-4a17,...,wcvp_max,wcoo_mean,wcoo_std,wcoo_max,wpleth_mean,wpleth_std,wpleth_max,wresp_mean,wresp_std,wresp_max
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-10-07 16:37:27,1,{9},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.484108,0.066486,0.613919,NaN,NaN,NaN
2016-10-07 16:37:28,2,"{9, 6}",104.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-07 16:37:29,2,"{9, 6}",104.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-07 16:37:30,2,"{9, 6}",104.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-07 16:37:31,2,"{9, 6}",104.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## TripSummaryStatistics

When a trips has been cleaned it can be passed to a `TripSummaryStatistics` object.  These are used to summarise and resample (set different levels of frequency) for a trip.

Instantiate a new `TripSummaryStatistics` object using a `CleanTrip` as a parameter.

In [29]:
trip_summary = TripSummaryStatistics(clean_trip=ct)

In [30]:
trip_summary.calculate(resample='1s')

Trip duration is by default in Timedelta format

In [31]:
trip_summary.duration

Timedelta('0 days 01:03:43')

To convert to minutes use the following formula

In [27]:
int(trip_summary.duration.total_seconds() / 60)

63

A key property is `TripSummaryStatistics.summary_table`.  This returns a `pandas.DataFrame` containing a simple summary across each time series within the trip.

In [28]:
trip_summary.summary_table

,per_missing,mean,std,min,max,median,iqr
merged_n,0.653766,1.970519,0.173780,1.000000,3.000000,2.000000,0.000000
hr_0002-4182,24.529289,104.061677,3.970211,96.000000,112.000000,103.000000,7.000000
spo2_0002-4bb8,24.529289,99.967221,0.259542,95.900000,100.000000,100.000000,0.000000
nbps_0002-4a05,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
nbpd_0002-4a06,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
nbpm_0002-4a07,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
abps_0002-4a15,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
abpd_0002-4a16,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
abpm_0002-4a17,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
arts_0002-4a11,24.529289,99.721414,5.582531,88.000000,119.000000,99.000000,6.000000
artd_0002-4a12,24.529289,49.144491,2.094041,40.000000,56.000000,49.000000,2.000000
artm_0002-4a13,24.529289,60.975052,2.141786,57.000000,69.000000,61.000000,3.000000
cvp_0002-4a47,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
rr_0002-5000,24.529289,22.141026,5.519199,9.000000,54.000000,21.000000,7.000000
awrr_0002-5012,25.470711,17.596140,2.356008,12.000000,21.000000,16.000000,5.000000
temp_0002-4b48,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
trect_0002-e004,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
tcore_0002-4b60,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
tskin_0002-4b74,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
tesoph_0002-4b64,24.529289,38.116687,0.321531,37.550000,38.650000,38.060000,0.530000
tnaso_0002-4b6c,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
co2_0002-50b0,25.078452,4.030611,0.400482,3.400000,4.800000,3.900000,0.700000
wecgi_mean,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wecgi_std,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wecgi_max,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wecgii_mean,76.150628,-0.006918,0.017906,-0.189271,0.067920,-0.007974,0.014680
wecgii_std,76.150628,0.226960,0.041332,0.033512,0.391093,0.235180,0.043908
wecgii_max,76.150628,0.899221,0.199570,0.100000,1.305000,1.007500,0.335000
wecgiii_mean,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wecgiii_std,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wecgiii_max,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wabp_mean,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wabp_std,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wabp_max,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wart_mean,76.150628,60.629337,2.548787,51.873047,73.761719,60.597656,3.446411
wart_std,76.150628,14.367445,2.074721,4.352467,23.707358,14.362185,2.336736
wart_max,76.150628,102.898163,6.077512,58.812500,126.937500,102.437500,8.125000
wcvp_mean,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wcvp_std,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wcvp_max,100.000000,NaN,NaN,NaN,NaN,NaN,NaN
wcoo_mean,76.150628,2.104849,1.499332,-0.500000,4.650625,2.195104,2.956858
wcoo_std,76.150628,0.722398,0.640600,0.000000,2.003193,0.659466,1.295474
wcoo_max,76.150628,3.157346,1.369306,-0.500000,4.786667,3.613333,0.733333
wpleth_mean,76.124477,0.455508,0.061162,0.266754,0.654682,0.453284,0.079926
wpleth_std,76.124477,0.105187,0.033158,0.020341,0.273740,0.103043,0.049707
wpleth_max,76.124477,0.687419,0.091353,0.322100,0.997558,0.683516,0.122589
wresp_mean,76.150628,0.234198,0.395751,-0.300000,1.000000,0.161331,0.653536
wresp_std,76.150628,0.306554,0.179162,0.000000,0.618667,0.350038,0.330180
wresp_max,76.150628,0.720009,0.438467,-0.300000,1.000000,1.000000,0.530000

In [ ]:
ct.time_series.head()

In [ ]:
df = ct.time_series
results = {}
results['per_missing'] = (1 - df.count()/df.shape[0])*100
results['mean'] = df.mean()
results['std'] = df.std()
results['min'] = df.min()
results['max'] = df.max()
results['median'] = df.quantile(q=0.5)
results['iqr'] = df.quantile(q=0.75) - df.quantile(q=0.25)
df_summary = pd.DataFrame(results)
df_summary

In [ ]:
ct.time_series['hr_0002-4182'].plot(figsize=(12,8))

In [ ]:
r_ts = ct.resample(rule='15s', interp_missing=True)
r_ts['wcoo_mean'].plot.line(figsize=(12,8))
#r_ts['wcoo_std'].plot.line(figsize=(12,8))
#r_ts['wcoo_max'].plot.line(figsize=(12,8))
#r_ts['wcoo_min'].plot.line(figsize=(12,8))

In [ ]:
r_ts = ct.resample(rule='60s', interp_missing=False)
r_ts['hr_0002-4182'].plot.line(figsize=(12,8))
#r_ts['abps_0002-4a15'].plot.line(figsize=(12,8))
#r_ts['nbpm_0002-4a07'].plot.line(figsize=(12,8))